@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: "Fira Code", monospace;
}

.title {
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    padding: 2vh;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.card {
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image {
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tour-info {
    margin: 20px 5px;
}

.tour-price {
    color: #1faa59;
    font-size: 1.3rem;
}

.tour-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.read-more {
    color: #12b0e8;
    cursor: pointer;
}

.btn-red {
    margin-top: 18px;
    padding: 10px 80px; 
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
}

.btn-red:hover {
    background-color: red;
    color: white;
    transition: 0.2s
}

.refresh {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.no-tours-left {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    font-weight: 500;
}

/* CSS */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }